* {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: rgb(231, 213, 195) !important;
}

p {
    width: 80%;
}

.wrapper {
    display: flex;
    flex-wrap: nowrap;
    background-color: whitesmoke;
    margin: 2%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sidebar {
    background-color: rgb(138, 114, 86);
    color: bisque;
    padding: 20px;
    flex: 1 1 10vw;
    min-width: 20ch;
    border-radius: 15px 0px 0px 15px;
}

.sidebar h1 {
    text-align: center;
    font-size: 3vw;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.sidebar h2 {
    text-align: left;
    margin-left: 20px;
    color: whitesmoke;
    font-size: 2.5ch;
    margin-bottom: 0;
}

.profile-picture {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

li {
    font-size: 1.75ch;
    margin-top: 0.5em;
}

ul {
    list-style-type: none;
    margin: auto;
    width: 70%;
    padding: 10px;
    padding-left: 0 !important;
}

.bx-ul {
    margin-left: 3vw;
}

.icon-list {
    margin-left: 1.55em;
}

.email {
    color: bisque;
    text-decoration: none;
}

.email:hover {
    font-weight: bold;
    color: bisque;
}

.main {
    flex: 1 1 70vw;
    padding: 15px;
    margin: 1vw;
}

.main .section {
    margin-left: 0;
    margin-bottom: 3em;
}

h2 {
    color: rgb(138, 114, 86);
    font-weight: bold;
}

h3 {
    margin-block-end: 0em;
    color: rgb(189, 154, 112);
}

.date {
    font-style: italic;
    font-size: small;
    color: rgb(138, 114, 86);
}

.all-button > * {
    color: rgb(138, 114, 86);
    border: 1px solid rgb(138, 114, 86);
    padding: 0.5em;
}

.all-button:hover > * {
    color: whitesmoke;
    background-color: rgb(138, 114, 86);
    border: 1px solid rgb(138, 114, 86);
    transition: 0.3s;
}

.all-button {
    width: max-content;
}

.button-.button-cv:hover {
    color: rgb(231, 213, 195);
}

button {
    border: 0;
    background-color: transparent;
}

@media screen and (max-width: 600px) {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .sidebar {
        border-radius: 0px 0px 0px 0px;
    }

    .sidebar h1 {
        font-size: 7vw;
    }

    .sidebar-info {
        display: flex;
        justify-content: space-evenly;
    }

    .sidebar h2 {
        text-align: center;
        font-size: 5vw;
        font-weight: bold;
        margin-left: 0;
    }

    ul {
        width: 100%;
        margin-bottom: 0rem !important;
    }

    .bx-ul {
        margin-left: 1.5em !important;
    }

    ul .bx-ul {
        margin-left: 1em !important;
    }

    li {
        font-size: 3vw;
        margin-left: 3vw;
    }

    .icon-list {
        margin-left: -0.5em;
    }

    .all-button > * {
        color: rgb(138, 114, 86);
        border: 1px solid rgb(138, 114, 86);
        padding: 0.5em;
    }

    .all-button:hover > * {
        color: whitesmoke;
        border: 1px solid rgb(138, 114, 86);
        background-color: rgb(138, 114, 86);
        transition: 0.3s;
    }

    .all-button {
        width: fit-content;
        margin: 0 auto;
    }
}
