img{
	border-radius:50%;
	margin-left: 40px;
    margin-right: 50px;
	
}
img-biography{
    width: 30%;
    
}
.name{
	line-height: 100%;
	
}
.section{
	line-height: 100%;
	
}
.wrapper{
	
}
.sidebar {
	background-color:#E67A7A;
	width: 17%;
	height:900px;
	color:bisque;
	padding:20px;
	float: left;
	padding-left:20px;
	margin:0;
	
	
	
}
	
.main {
	background-color:#FCCECE;
	padding: 20%;
	margin-left: 20%;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 15px;
    height: 650px;
    width: 95%;
	
	
}